/* header style */
.container > header,
.container > header > nav {
  width: 100%;
  height: 210px;
  z-index: 100;
} 
.container > header > nav {
  position: fixed;
}
/*------------------------ menu-nav style-------------------*/
.container > header > nav > .menu {
  width: 100%;
  padding:  0 180px;
  background-color: var(--menu-color);
  display: flex;
  justify-content: space-between;
}
.container > header > nav > .menu >.menu-bot {
  display: flex;
  list-style: none;
  color:white;
  font-family: var(--font-montserrat);
}
.container > header > nav > .menu >.menu-bot > li{
  padding: 23px 15px 20px 15px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: 0.4s ease-in-out;
}  
.container > header > nav > .menu >.menu-bot > li:first-child {
  padding-left: 0;
}
/* ------------------------------------------------------------ */
.container > header > nav > .menu > .exchange {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  color: white;
  font-family: var(--font-montserrat);
  font-size: 12px;
  /* background-color: aqua; */
}
.container > header > nav > .menu > .exchange > li {
  padding: 28px 15px 20px 15px;
}
/* ------------------------top-nav style------------------- */
.container > header > nav > .top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-footer-color);
  padding: 30px 180px;
  transition: 0.2s ease-in-out;
  /* height: 100px; */
}
.container > header > nav > .top-nav > .logo {
  width: 250px;
  padding-bottom: 5px;
}

.container > header > nav > .top-nav > .logo > img {
  transition: 0.3s ease-in-out;
  width: 100%;
}
.container > header > nav > .top-nav > .menu-top {
  display: flex;
  list-style: none;
  color: white;
  font-family: var(--font-montserrat);
}
.container > header > nav > .top-nav > .menu-top > li{
  padding: 15px 8px 15px 10px;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.container > header > nav > .top-nav > .menu-top > li > img {
  border: 1px solid white;
  border-radius: 2px;
  padding: 1px;
  margin-left: 10px;
}
.container > header > nav > .top-nav > .menu-top > li > span {
  font-size: 14px;
  vertical-align: middle;
  padding-left: 2px;
}
/* ------------------------------------------------------------------ */
/* ---------------------------Dropdown------------------------------- */
.container > header > nav > .top-nav > .menu-top > li >.dropdown {
  position: absolute;
  list-style: none;
  top: 48px;
  right: 0;
  width: 246px;
  height: 0px;
  overflow: hidden;
  background-color: var(--menu-color);
  text-align: end;
  transition: 0.2s ease-in-out;
}
.container > header > nav > .top-nav > .menu-top > li > .dropdown > li:first-child {
  border-top:1px solid gray;
  padding-top: 18px;
}
.container > header > nav > .top-nav > .menu-top > li > .dropdown > li {
  padding: 10px 10px;
}
.container > header > nav > .top-nav > .menu-top > li >.dropdown > li > a {
  color: white;
  text-decoration:none ;
}
.container > header > nav > .top-nav > .menu-top > li:nth-child(4){
  color: var(--hover-color);
}
/* ---------------------------------------------------------------------------------- */
/* -----------------------dropdown-menu-nav style------------------------------------ */
.container > header > nav > .menu > .menu-bot > li > .dropdown{
  position: absolute;
  list-style: none;
  top: 76px;
  left: 0;
  width: 246px;
  height: 0;
  overflow: hidden;
  background-color:var(--menu-color);
  transition: 0.2s ease-in-out;
} 
/* ---------------------------------------------------------------- */
.container > header > nav > .menu > .menu-bot > li > .dropdown > li:first-child{
  border-top: 1px solid goldenrod;
  padding-top: 18px;
}    
.container > header > nav > .menu > .menu-bot > li > .dropdown > li {
  padding : 8px 10px;
}
.container > header > nav > .menu > .menu-bot > li > .dropdown > li > a {
  color: white;
  text-decoration:none;
}
.container > header > nav > .menu > .menu-bot > li > .dropdown > li > a {
  font-size: 13px;
  font-weight: 500;
}
/* ---------------------------------------------------------------------------------- */
/* -----------------------Hover effect----------------------------------------------- */

.container > header > nav > .top-nav > .menu-top > li:hover > #down,
.container > header > nav > .menu > .menu-bot > li:hover > #down {
  transform: rotate(180deg) translateY(1px);
}
.container > header > nav > .menu > .menu-bot > li:hover {
  color: var(--hover-color);
}
.container > header > nav > .top-nav > .menu-top > li:hover{
  background-color: var(--menu-color);
}
.container > header > nav > .top-nav > .menu-top > li:hover > .dropdown,
.container > header > nav > .menu > .menu-bot > li:hover > .dropdown {
  height: 256px;
}
.container > header > nav > .top-nav > .menu-top  > li:hover:nth-child(4) > .dropdown {
  height: 90px;
}
.container > header > nav > .top-nav > .menu-top > li >.dropdown > li:hover > a,
.container > header > nav > .menu > .menu-bot > li >.dropdown > li:hover > a{
  text-decoration: underline;
  color: var(--hover-color);
} 
